--
-- PostgreSQL database dump
--

\restrict pbkdnLIsIReTzb6Zoa4DZJNL1fS6P6ivk6cO1IrRPC0gKo6jWmkfRf91JEH2FBn

-- Dumped from database version 18.2 (94b8da0)
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: neondb_owner
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO neondb_owner;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: neondb_owner
--

COMMENT ON SCHEMA public IS '';


--
-- Name: application_status; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.application_status AS ENUM (
    'Pending',
    'Approved',
    'Refused'
);


ALTER TYPE public.application_status OWNER TO neondb_owner;

--
-- Name: c_type; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.c_type AS ENUM (
    'Room',
    'Dining',
    'Toilet',
    'Roommate',
    'Staff',
    'Facilities',
    'Other'
);


ALTER TYPE public.c_type OWNER TO neondb_owner;

--
-- Name: complaint_status; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.complaint_status AS ENUM (
    'Pending',
    'Resolved',
    'Dismissed'
);


ALTER TYPE public.complaint_status OWNER TO neondb_owner;

--
-- Name: delete_request_status; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.delete_request_status AS ENUM (
    'Pending',
    'Refused'
);


ALTER TYPE public.delete_request_status OWNER TO neondb_owner;

--
-- Name: donation_status; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.donation_status AS ENUM (
    'Pending',
    'Approved',
    'Refused'
);


ALTER TYPE public.donation_status OWNER TO neondb_owner;

--
-- Name: notification_type; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.notification_type AS ENUM (
    'DONATION',
    'EVENT',
    'NOTICE',
    'PAYMENT',
    'TASK',
    'SALARY',
    'COMPLAINT',
    'SEAT APPLICATION'
);


ALTER TYPE public.notification_type OWNER TO neondb_owner;

--
-- Name: payment_status; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.payment_status AS ENUM (
    'Due',
    'Paid',
    'Overdue'
);


ALTER TYPE public.payment_status OWNER TO neondb_owner;

--
-- Name: seat_status; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.seat_status AS ENUM (
    'vacant',
    'occupied'
);


ALTER TYPE public.seat_status OWNER TO neondb_owner;

--
-- Name: staff_role; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.staff_role AS ENUM (
    'Staff',
    'Provost'
);


ALTER TYPE public.staff_role OWNER TO neondb_owner;

--
-- Name: student_status; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.student_status AS ENUM (
    'ATTACHED',
    'RESIDENT'
);


ALTER TYPE public.student_status OWNER TO neondb_owner;

--
-- Name: task_priority; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.task_priority AS ENUM (
    'low',
    'medium',
    'high'
);


ALTER TYPE public.task_priority OWNER TO neondb_owner;

--
-- Name: task_status; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.task_status AS ENUM (
    'pending',
    'in_progress',
    'completed',
    'cancelled',
    'submitted'
);


ALTER TYPE public.task_status OWNER TO neondb_owner;

--
-- Name: get_batch_year(character varying); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.get_batch_year(p_student_id character varying) RETURNS integer
    LANGUAGE plpgsql
    AS $$

BEGIN

    RETURN CAST('20' || SUBSTRING(p_student_id FROM 1 FOR 2) AS INT);

END;

$$;


ALTER FUNCTION public.get_batch_year(p_student_id character varying) OWNER TO neondb_owner;

--
-- Name: get_department_name(character varying); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.get_department_name(p_student_id character varying) RETURNS character varying
    LANGUAGE plpgsql
    AS $$

DECLARE

    dept_code VARCHAR;

BEGIN

    -- Extract the 3rd and 4th characters from the student ID

    dept_code := SUBSTRING(p_student_id FROM 3 FOR 2);

    

    RETURN CASE dept_code

        WHEN '05' THEN 'Computer Science & Engineering (CSE)'

        WHEN '42' THEN 'Electrical & Electronic Engineering (EEE)'

        WHEN '01' THEN 'Architecture (ARC)'

	    WHEN '02' THEN 'Chemical Engineering (CHE)'

        WHEN '03' THEN 'Civil Engineering (CIV)'

        WHEN '04' THEN 'Mechanical Engineering (MEC)'

	    WHEN '07' THEN 'Materials & Metallurgical Eng. (MME)'

	    WHEN '06' THEN 'Naval Arch. & Marine Eng. (NAME)'

	    WHEN '08' THEN 'Industrial & Production Eng. (IPE)'

	    WHEN '09' THEN 'Water Resources Engineering (WRE)'

	    WHEN '10' THEN 'Urban & Regional Planning (URP)'

	    WHEN '11' THEN 'Biomedical Engineering (BME)'

        ELSE 'Unknown Department'

    END;

END;

$$;


ALTER FUNCTION public.get_department_name(p_student_id character varying) OWNER TO neondb_owner;

--
-- Name: handle_seat_allocation(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.handle_seat_allocation() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN



    IF TG_OP = 'INSERT' THEN

        -- Update Student Status

        UPDATE STUDENTS SET status = 'RESIDENT' WHERE student_id = NEW.student_id;

        -- Update Seat Status

        UPDATE SEATS SET status = 'occupied' WHERE room_id = NEW.room_id AND seat_number = NEW.seat_number;



    ELSIF TG_OP = 'UPDATE' AND NEW.end_date IS NOT NULL AND OLD.end_date IS NULL THEN

        -- Revert Student Status

        UPDATE STUDENTS SET status = 'ATTACHED' WHERE student_id = NEW.student_id;

        -- Revert Seat Status

        UPDATE SEATS SET status = 'vacant' WHERE room_id = NEW.room_id AND seat_number = NEW.seat_number;

    END IF;

    

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.handle_seat_allocation() OWNER TO neondb_owner;

--
-- Name: notify_complaint_update(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.notify_complaint_update() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    -- Only trigger if the status changed to Resolved or Dismissed

    IF NEW.status IN ('Resolved', 'Dismissed') AND OLD.status != NEW.status THEN

        INSERT INTO NOTIFICATIONS (student_id, title, message, type, target_url)

        VALUES (

            NEW.student_id, 

            'Complaint ' || NEW.status, 

            'Your complaint regarding ' || NEW.complaint_type || ' has been marked as ' || NEW.status || '.', 

            'COMPLAINT', 

            '/student/complaints'

        );

    END IF;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.notify_complaint_update() OWNER TO neondb_owner;

--
-- Name: notify_donation_approved(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.notify_donation_approved() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

    v_student_id CHAR(7);

BEGIN

    IF NEW.status = 'Approved' AND OLD.status != 'Approved' THEN

        -- Find out which student asked for this donation

        SELECT student_id INTO v_student_id FROM ASKS_FOR WHERE donation_id = NEW.donation_id;



        -- Only notify if a student asked for it (ignores staff-requested donations)

        IF v_student_id IS NOT NULL THEN

            INSERT INTO NOTIFICATIONS (student_id, title, message, type, target_url)

            VALUES (

                v_student_id, 

                'Donation Request Approved', 

                'Your donation request has been approved and is now live.', 

                'DONATION', 

                '/student/donations'

            );

        END IF;

    END IF;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.notify_donation_approved() OWNER TO neondb_owner;

--
-- Name: notify_donation_pledge(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.notify_donation_pledge() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_student_id CHAR(7);
    v_staff_id CHAR(10);
    v_amount NUMERIC(12,2);
BEGIN
    -- Find who created the donation (could be student or staff)
    SELECT student_id, staff_id INTO v_student_id, v_staff_id 
    FROM ASKS_FOR WHERE donation_id = NEW.donation_id;
    
    -- Find the amount from the PAYMENTS table
    SELECT amount INTO v_amount FROM PAYMENTS WHERE payment_id = NEW.payment_id;

    -- Notify student if they created the donation
    IF v_student_id IS NOT NULL THEN
        INSERT INTO NOTIFICATIONS (student_id, title, message, type, target_url)
        VALUES (
            v_student_id, 
            'New Donation Pledge!', 
            'Someone has pledged Tk' || v_amount || ' towards your request.', 
            'DONATION', 
            '/student/donations'
        );
    END IF;

    -- Notify staff if they created the donation
    IF v_staff_id IS NOT NULL THEN
        INSERT INTO NOTIFICATIONS (staff_id, title, message, type, target_url)
        VALUES (
            v_staff_id, 
            'New Donation Pledge!', 
            'Someone has pledged Tk' || v_amount || ' towards your request.', 
            'DONATION', 
            '/donations'
        );
    END IF;
    
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.notify_donation_pledge() OWNER TO neondb_owner;

--
-- Name: notify_new_event(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.notify_new_event() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    IF NEW.is_public THEN

        -- Insert for EVERY student in the database

        INSERT INTO NOTIFICATIONS (student_id, title, message, type, target_url)

        SELECT student_id, 'New Inter-Hall Event', NEW.name, 'EVENT', '/student/events'

        FROM STUDENTS;

    ELSE

        -- Insert ONLY for students in the same hall

        INSERT INTO NOTIFICATIONS (student_id, title, message, type, target_url)

        SELECT student_id, 'New Hall Event', NEW.name, 'EVENT', '/student/events'

        FROM STUDENTS

        WHERE hall_id = NEW.hall_id;

    END IF;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.notify_new_event() OWNER TO neondb_owner;

--
-- Name: notify_new_notice(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.notify_new_notice() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

    v_hall_id INT;

BEGIN

    -- Find which hall the staff member who posted the notice belongs to

    SELECT hall_id INTO v_hall_id FROM STAFFS WHERE staff_id = NEW.staff_id;



    IF NEW.is_public THEN

        INSERT INTO NOTIFICATIONS (student_id, title, message, type, target_url)

        SELECT student_id, 'New Public Notice', NEW.title, 'NOTICE', '/student/notices'

        FROM STUDENTS;

    ELSE

        INSERT INTO NOTIFICATIONS (student_id, title, message, type, target_url)

        SELECT student_id, 'New Hall Notice', NEW.title, 'NOTICE', '/student/notices'

        FROM STUDENTS

        WHERE hall_id = v_hall_id;

    END IF;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.notify_new_notice() OWNER TO neondb_owner;

--
-- Name: notify_new_payment(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.notify_new_payment() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

    v_amount NUMERIC(12,2);

    v_type VARCHAR(20);

    v_due TIMESTAMP;

BEGIN

    -- Fetch the payment details from the PAYMENTS table

    SELECT amount, payment_type, due_time INTO v_amount, v_type, v_due 

    FROM PAYMENTS WHERE payment_id = NEW.payment_id;



    INSERT INTO NOTIFICATIONS (student_id, title, message, type, target_url)

    VALUES (

        NEW.student_id, 

        'New Payment Due', 

        'A new fee of αº│' || v_amount || ' for ' || COALESCE(v_type, 'fees') || ' has been posted. Due by ' || TO_CHAR(v_due, 'YYYY-MM-DD') || '.', 

        'PAYMENT', 

        '/student/payments'

    );

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.notify_new_payment() OWNER TO neondb_owner;

--
-- Name: notify_overdue_payment(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.notify_overdue_payment() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

    v_student_id CHAR(7);

BEGIN

    IF NEW.status = 'Overdue' AND OLD.status != 'Overdue' THEN

        -- Find the student associated with this payment

        SELECT student_id INTO v_student_id FROM FEES WHERE payment_id = NEW.payment_id;



        IF v_student_id IS NOT NULL THEN

            INSERT INTO NOTIFICATIONS (student_id, title, message, type, target_url)

            VALUES (

                v_student_id, 

                'Payment Overdue Alert', 

                'Your payment of αº│' || NEW.amount || ' for ' || COALESCE(NEW.payment_type, 'fees') || ' is now overdue. Please clear it immediately.', 

                'PAYMENT', 

                '/student/payments'

            );

        END IF;

    END IF;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.notify_overdue_payment() OWNER TO neondb_owner;

--
-- Name: notify_salary_posted(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.notify_salary_posted() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_amount NUMERIC(12,2);
    v_type VARCHAR(20);
    v_due TIMESTAMP;
BEGIN
    -- Fetch the payment details from the PAYMENTS table
    SELECT amount, payment_type, due_time INTO v_amount, v_type, v_due 
    FROM PAYMENTS WHERE payment_id = NEW.payment_id;

    INSERT INTO NOTIFICATIONS (staff_id, title, message, type, target_url)
    VALUES (
        NEW.staff_id, 
        'New Salary Posted', 
        'Your salary of Tk' || v_amount || ' has been posted. Due by ' || TO_CHAR(v_due, 'YYYY-MM-DD') || '.', 
        'SALARY', 
        '/salary'
    );
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.notify_salary_posted() OWNER TO neondb_owner;

--
-- Name: notify_seat_application_update(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.notify_seat_application_update() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    -- Updated to match your schema's 'Refused'

    IF NEW.status IN ('Approved', 'Refused') AND OLD.status != NEW.status THEN

        INSERT INTO NOTIFICATIONS (student_id, title, message, type, target_url)

        VALUES (

            NEW.student_id, 

            'Seat Application ' || NEW.status, 

            'Your application for a hall seat has been ' || LOWER(NEW.status) || '.', 

            'SEAT APPLICATION', -- Updated to match your ENUM spacing

            '/student/profile'

        );

    END IF;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.notify_seat_application_update() OWNER TO neondb_owner;

--
-- Name: notify_staff_donation_approved(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.notify_staff_donation_approved() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_staff_id CHAR(10);
BEGIN
    IF NEW.status = 'Approved' AND OLD.status != 'Approved' THEN
        -- Find out which staff member asked for this donation
        SELECT staff_id INTO v_staff_id FROM ASKS_FOR WHERE donation_id = NEW.donation_id;

        -- Only notify if a staff member asked for it
        IF v_staff_id IS NOT NULL THEN
            INSERT INTO NOTIFICATIONS (staff_id, title, message, type, target_url)
            VALUES (
                v_staff_id, 
                'Donation Request Approved', 
                'Your donation request has been approved and is now live.', 
                'DONATION', 
                '/donations'
            );
        END IF;
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.notify_staff_donation_approved() OWNER TO neondb_owner;

--
-- Name: notify_staff_donation_pledge(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.notify_staff_donation_pledge() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_receiver_id CHAR(10);
    v_amount NUMERIC(12,2);
BEGIN
    -- Find who created the donation (staff member)
    SELECT staff_id INTO v_receiver_id FROM ASKS_FOR WHERE donation_id = NEW.donation_id;
    
    -- Find the amount from the PAYMENTS table
    SELECT amount INTO v_amount FROM PAYMENTS WHERE payment_id = NEW.payment_id;

    IF v_receiver_id IS NOT NULL THEN
        INSERT INTO NOTIFICATIONS (staff_id, title, message, type, target_url)
        VALUES (
            v_receiver_id, 
            'New Donation Pledge!', 
            'Someone has pledged ?' || v_amount || ' towards your request.', 
            'DONATION', 
            '/donations'
        );
    END IF;
    
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.notify_staff_donation_pledge() OWNER TO neondb_owner;

--
-- Name: notify_staff_new_event(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.notify_staff_new_event() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF NEW.is_public THEN
        -- Notify ALL staff members (from all halls)
        INSERT INTO NOTIFICATIONS (staff_id, title, message, type, target_url)
        SELECT DISTINCT staff_id, 'New Inter-Hall Event', NEW.name, 'EVENT', '/events'
        FROM STAFFS;
    ELSE
        -- Notify only staff members in the same hall
        INSERT INTO NOTIFICATIONS (staff_id, title, message, type, target_url)
        SELECT DISTINCT staff_id, 'New Hall Event', NEW.name, 'EVENT', '/events'
        FROM STAFFS
        WHERE hall_id = NEW.hall_id;
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.notify_staff_new_event() OWNER TO neondb_owner;

--
-- Name: notify_staff_new_notice(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.notify_staff_new_notice() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_hall_id INT;
BEGIN
    -- Find which hall the staff member who posted the notice belongs to
    SELECT hall_id INTO v_hall_id FROM STAFFS WHERE staff_id = NEW.staff_id;

    IF NEW.is_public THEN
        -- Notify ALL staff members
        INSERT INTO NOTIFICATIONS (staff_id, title, message, type, target_url)
        SELECT DISTINCT staff_id, 'New Public Notice', NEW.title, 'NOTICE', '/notices'
        FROM STAFFS;
    ELSE
        -- Notify only staff members in the same hall
        INSERT INTO NOTIFICATIONS (staff_id, title, message, type, target_url)
        SELECT DISTINCT staff_id, 'New Hall Notice', NEW.title, 'NOTICE', '/notices'
        FROM STAFFS
        WHERE hall_id = v_hall_id;
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.notify_staff_new_notice() OWNER TO neondb_owner;

--
-- Name: notify_task_assignment(); Type: FUNCTION; Schema: public; Owner: neondb_owner
--

CREATE FUNCTION public.notify_task_assignment() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_task_title VARCHAR(150);
    v_task_priority task_priority;
    v_task_due_date DATE;
BEGIN
    -- Get task details
    SELECT title, priority, due_date 
    INTO v_task_title, v_task_priority, v_task_due_date
    FROM TASKS WHERE task_id = NEW.task_id;

    -- Insert notification for the assigned staff member
    INSERT INTO NOTIFICATIONS (staff_id, title, message, type, target_url)
    VALUES (
        NEW.staff_id,
        'New Task Assigned',
        'You have been assigned a new task: "' || v_task_title || '" with priority: ' || v_task_priority || '.',
        'TASK',
        '/tasks'
    );

    RETURN NEW;
END;
$$;


ALTER FUNCTION public.notify_task_assignment() OWNER TO neondb_owner;

--
-- Name: register_new_student(character varying, character varying, character varying, integer); Type: PROCEDURE; Schema: public; Owner: neondb_owner
--

CREATE PROCEDURE public.register_new_student(IN p_student_id character varying, IN p_email character varying, IN p_password_hash character varying, IN p_hall_id integer)
    LANGUAGE plpgsql
    AS $_$

BEGIN

    IF p_password_hash IS NULL OR (

        p_password_hash NOT LIKE 'scrypt:%'

        AND p_password_hash NOT LIKE 'pbkdf2:%'

        AND p_password_hash NOT LIKE 'argon2:%'

        AND p_password_hash NOT LIKE 'sha256:%'

        AND p_password_hash NOT LIKE '$2%'

    ) THEN

        RAISE EXCEPTION 'register_new_student requires a hashed password';

    END IF;



    INSERT INTO USERS (user_id, email_address, password)

    VALUES (p_student_id, p_email, p_password_hash);



    INSERT INTO STUDENTS (student_id, hall_id, user_id, status)

    VALUES (p_student_id, p_hall_id, p_student_id , 'ATTACHED');



END;

$_$;


ALTER PROCEDURE public.register_new_student(IN p_student_id character varying, IN p_email character varying, IN p_password_hash character varying, IN p_hall_id integer) OWNER TO neondb_owner;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: allocations; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.allocations (
    student_id character(7) NOT NULL,
    room_id character(3) NOT NULL,
    seat_number integer NOT NULL,
    start_date date DEFAULT CURRENT_DATE,
    end_date date
);


ALTER TABLE public.allocations OWNER TO neondb_owner;

--
-- Name: asks_for; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.asks_for (
    donation_id integer NOT NULL,
    student_id character(7),
    staff_id character(10),
    CONSTRAINT at_least_one_requester CHECK (((student_id IS NOT NULL) OR (staff_id IS NOT NULL)))
);


ALTER TABLE public.asks_for OWNER TO neondb_owner;

--
-- Name: comments; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.comments (
    comment_id integer NOT NULL,
    post_id integer NOT NULL,
    user_id character varying(50) NOT NULL,
    parent_comment_id integer,
    content text NOT NULL,
    is_deleted boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone
);


ALTER TABLE public.comments OWNER TO neondb_owner;

--
-- Name: comments_comment_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.comments_comment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.comments_comment_id_seq OWNER TO neondb_owner;

--
-- Name: comments_comment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.comments_comment_id_seq OWNED BY public.comments.comment_id;


--
-- Name: complaint_upvotes; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.complaint_upvotes (
    complaint_id integer NOT NULL,
    student_id character varying(50) NOT NULL
);


ALTER TABLE public.complaint_upvotes OWNER TO neondb_owner;

--
-- Name: complaints; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.complaints (
    complaint_id integer NOT NULL,
    student_id character(7) NOT NULL,
    complaint_type public.c_type NOT NULL,
    description text,
    status public.complaint_status DEFAULT 'Pending'::public.complaint_status,
    is_anonymous boolean DEFAULT false,
    is_public boolean DEFAULT false,
    date date DEFAULT CURRENT_DATE
);


ALTER TABLE public.complaints OWNER TO neondb_owner;

--
-- Name: complaints_complaint_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.complaints_complaint_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.complaints_complaint_id_seq OWNER TO neondb_owner;

--
-- Name: complaints_complaint_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.complaints_complaint_id_seq OWNED BY public.complaints.complaint_id;


--
-- Name: donations; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.donations (
    donation_id integer NOT NULL,
    status public.donation_status DEFAULT 'Pending'::public.donation_status,
    description text,
    start_date date DEFAULT CURRENT_DATE,
    end_date date
);


ALTER TABLE public.donations OWNER TO neondb_owner;

--
-- Name: donations_donation_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.donations_donation_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.donations_donation_id_seq OWNER TO neondb_owner;

--
-- Name: donations_donation_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.donations_donation_id_seq OWNED BY public.donations.donation_id;


--
-- Name: events; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.events (
    event_id integer NOT NULL,
    name character varying(50),
    description text,
    date date,
    hall_id integer,
    video_link text,
    is_public boolean DEFAULT false
);


ALTER TABLE public.events OWNER TO neondb_owner;

--
-- Name: events_event_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.events_event_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.events_event_id_seq OWNER TO neondb_owner;

--
-- Name: events_event_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.events_event_id_seq OWNED BY public.events.event_id;


--
-- Name: fees; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.fees (
    payment_id integer NOT NULL,
    student_id character(7) NOT NULL
);


ALTER TABLE public.fees OWNER TO neondb_owner;

--
-- Name: generates; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.generates (
    payment_id integer NOT NULL,
    donation_id integer
);


ALTER TABLE public.generates OWNER TO neondb_owner;

--
-- Name: genres; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.genres (
    genre_id integer NOT NULL,
    name character varying(50) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.genres OWNER TO neondb_owner;

--
-- Name: genres_genre_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.genres_genre_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.genres_genre_id_seq OWNER TO neondb_owner;

--
-- Name: genres_genre_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.genres_genre_id_seq OWNED BY public.genres.genre_id;


--
-- Name: halls; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.halls (
    hall_id integer NOT NULL,
    name character varying(100) NOT NULL,
    provost_id character(10)
);


ALTER TABLE public.halls OWNER TO neondb_owner;

--
-- Name: halls_hall_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.halls_hall_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.halls_hall_id_seq OWNER TO neondb_owner;

--
-- Name: halls_hall_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.halls_hall_id_seq OWNED BY public.halls.hall_id;


--
-- Name: notice; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.notice (
    notice_id integer NOT NULL,
    staff_id character(10) NOT NULL,
    title character varying(150),
    description text,
    pdf_file bytea,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_public boolean DEFAULT false
);


ALTER TABLE public.notice OWNER TO neondb_owner;

--
-- Name: notice_notice_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.notice_notice_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notice_notice_id_seq OWNER TO neondb_owner;

--
-- Name: notice_notice_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.notice_notice_id_seq OWNED BY public.notice.notice_id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.notifications (
    notification_id integer NOT NULL,
    student_id character varying(50),
    title character varying(255) NOT NULL,
    message text NOT NULL,
    type public.notification_type NOT NULL,
    target_url character varying(255) NOT NULL,
    is_read boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    staff_id character(10),
    CONSTRAINT notifications_has_recipient CHECK (((student_id IS NOT NULL) OR (staff_id IS NOT NULL)))
);


ALTER TABLE public.notifications OWNER TO neondb_owner;

--
-- Name: notifications_notification_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.notifications_notification_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notifications_notification_id_seq OWNER TO neondb_owner;

--
-- Name: notifications_notification_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.notifications_notification_id_seq OWNED BY public.notifications.notification_id;


--
-- Name: payment_delete_requests; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.payment_delete_requests (
    request_id integer NOT NULL,
    payment_id integer NOT NULL,
    requested_by character(10) NOT NULL,
    requested_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    status public.delete_request_status DEFAULT 'Pending'::public.delete_request_status,
    reviewed_by character(10) DEFAULT NULL::bpchar,
    reviewed_at timestamp without time zone
);


ALTER TABLE public.payment_delete_requests OWNER TO neondb_owner;

--
-- Name: payment_delete_requests_request_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.payment_delete_requests_request_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payment_delete_requests_request_id_seq OWNER TO neondb_owner;

--
-- Name: payment_delete_requests_request_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.payment_delete_requests_request_id_seq OWNED BY public.payment_delete_requests.request_id;


--
-- Name: payments; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.payments (
    payment_id integer NOT NULL,
    payment_type character varying(20),
    amount numeric(12,2),
    due_time timestamp without time zone,
    status public.payment_status,
    paid_at timestamp without time zone,
    CONSTRAINT payments_amount_check CHECK ((amount >= (0)::numeric))
);


ALTER TABLE public.payments OWNER TO neondb_owner;

--
-- Name: payments_payment_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.payments_payment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payments_payment_id_seq OWNER TO neondb_owner;

--
-- Name: payments_payment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.payments_payment_id_seq OWNED BY public.payments.payment_id;


--
-- Name: post_genres; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.post_genres (
    post_id integer NOT NULL,
    genre_id integer NOT NULL
);


ALTER TABLE public.post_genres OWNER TO neondb_owner;

--
-- Name: post_likes; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.post_likes (
    post_id integer NOT NULL,
    user_id character varying(50) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.post_likes OWNER TO neondb_owner;

--
-- Name: posts; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.posts (
    post_id integer NOT NULL,
    user_id character varying(50) NOT NULL,
    hall_id integer NOT NULL,
    title character varying(200) NOT NULL,
    content text NOT NULL,
    is_deleted boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone,
    is_public boolean DEFAULT false
);


ALTER TABLE public.posts OWNER TO neondb_owner;

--
-- Name: posts_post_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.posts_post_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.posts_post_id_seq OWNER TO neondb_owner;

--
-- Name: posts_post_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.posts_post_id_seq OWNED BY public.posts.post_id;


--
-- Name: rooms; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.rooms (
    room_id character(3) NOT NULL,
    hall_id integer NOT NULL,
    capacity integer
);


ALTER TABLE public.rooms OWNER TO neondb_owner;

--
-- Name: salary; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.salary (
    payment_id integer NOT NULL,
    staff_id character(10) NOT NULL
);


ALTER TABLE public.salary OWNER TO neondb_owner;

--
-- Name: seat_application; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.seat_application (
    application_id integer NOT NULL,
    student_id character(7) NOT NULL,
    description text,
    date date DEFAULT CURRENT_DATE,
    priority_value integer,
    status public.application_status DEFAULT 'Pending'::public.application_status
);


ALTER TABLE public.seat_application OWNER TO neondb_owner;

--
-- Name: seat_application_application_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.seat_application_application_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.seat_application_application_id_seq OWNER TO neondb_owner;

--
-- Name: seat_application_application_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.seat_application_application_id_seq OWNED BY public.seat_application.application_id;


--
-- Name: seats; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.seats (
    seat_number integer NOT NULL,
    room_id character(3) NOT NULL,
    status public.seat_status DEFAULT 'vacant'::public.seat_status
);


ALTER TABLE public.seats OWNER TO neondb_owner;

--
-- Name: staffs; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.staffs (
    staff_id character(10) NOT NULL,
    hall_id integer NOT NULL,
    user_id character varying(50) NOT NULL,
    name character varying(100),
    phone_number character varying(15),
    role public.staff_role,
    salary integer,
    photo bytea
);


ALTER TABLE public.staffs OWNER TO neondb_owner;

--
-- Name: student_hidden_events; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.student_hidden_events (
    student_id character varying(50) NOT NULL,
    event_id integer NOT NULL
);


ALTER TABLE public.student_hidden_events OWNER TO neondb_owner;

--
-- Name: student_notice_states; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.student_notice_states (
    student_id character(7) NOT NULL,
    notice_id integer NOT NULL,
    is_read boolean DEFAULT false,
    is_hidden boolean DEFAULT false
);


ALTER TABLE public.student_notice_states OWNER TO neondb_owner;

--
-- Name: students; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.students (
    student_id character(7) NOT NULL,
    hall_id integer NOT NULL,
    user_id character varying(50) NOT NULL,
    name character varying(100),
    phone_number character varying(15),
    status public.student_status NOT NULL,
    photo bytea
);


ALTER TABLE public.students OWNER TO neondb_owner;

--
-- Name: task_assignments; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.task_assignments (
    assignment_id integer NOT NULL,
    task_id integer NOT NULL,
    staff_id character(10) NOT NULL,
    assigned_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    seen_at timestamp without time zone
);


ALTER TABLE public.task_assignments OWNER TO neondb_owner;

--
-- Name: task_assignments_assignment_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.task_assignments_assignment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.task_assignments_assignment_id_seq OWNER TO neondb_owner;

--
-- Name: task_assignments_assignment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.task_assignments_assignment_id_seq OWNED BY public.task_assignments.assignment_id;


--
-- Name: tasks; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.tasks (
    task_id integer NOT NULL,
    provost_id character(10) NOT NULL,
    title character varying(150) NOT NULL,
    description text,
    priority public.task_priority DEFAULT 'medium'::public.task_priority,
    status public.task_status DEFAULT 'pending'::public.task_status,
    due_date date,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone
);


ALTER TABLE public.tasks OWNER TO neondb_owner;

--
-- Name: tasks_task_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.tasks_task_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tasks_task_id_seq OWNER TO neondb_owner;

--
-- Name: tasks_task_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.tasks_task_id_seq OWNED BY public.tasks.task_id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.users (
    user_id character varying(50) NOT NULL,
    email_address character varying(50) NOT NULL,
    password character varying(255) NOT NULL
);


ALTER TABLE public.users OWNER TO neondb_owner;

--
-- Name: visitors; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.visitors (
    visitor_id character varying(12) NOT NULL,
    student_id character(7) NOT NULL,
    name character varying(100) NOT NULL,
    phone_number character varying(15) NOT NULL,
    relationship character varying(20) NOT NULL,
    entry_time timestamp without time zone NOT NULL,
    exit_time timestamp without time zone NOT NULL,
    hidden_by_student boolean DEFAULT false,
    CONSTRAINT check_no_past_visits CHECK ((exit_time > CURRENT_TIMESTAMP)),
    CONSTRAINT check_visit_duration CHECK (((exit_time - entry_time) <= '04:00:00'::interval)),
    CONSTRAINT check_visit_hours CHECK ((((EXTRACT(hour FROM entry_time) >= (6)::numeric) AND (EXTRACT(hour FROM entry_time) <= (21)::numeric)) AND ((EXTRACT(hour FROM exit_time) >= (6)::numeric) AND (EXTRACT(hour FROM exit_time) <= (21)::numeric)))),
    CONSTRAINT check_visitor_times CHECK ((entry_time < exit_time))
);


ALTER TABLE public.visitors OWNER TO neondb_owner;

--
-- Name: comments comment_id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.comments ALTER COLUMN comment_id SET DEFAULT nextval('public.comments_comment_id_seq'::regclass);


--
-- Name: complaints complaint_id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.complaints ALTER COLUMN complaint_id SET DEFAULT nextval('public.complaints_complaint_id_seq'::regclass);


--
-- Name: donations donation_id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.donations ALTER COLUMN donation_id SET DEFAULT nextval('public.donations_donation_id_seq'::regclass);


--
-- Name: events event_id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.events ALTER COLUMN event_id SET DEFAULT nextval('public.events_event_id_seq'::regclass);


--
-- Name: genres genre_id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.genres ALTER COLUMN genre_id SET DEFAULT nextval('public.genres_genre_id_seq'::regclass);


--
-- Name: halls hall_id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.halls ALTER COLUMN hall_id SET DEFAULT nextval('public.halls_hall_id_seq'::regclass);


--
-- Name: notice notice_id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.notice ALTER COLUMN notice_id SET DEFAULT nextval('public.notice_notice_id_seq'::regclass);


--
-- Name: notifications notification_id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.notifications ALTER COLUMN notification_id SET DEFAULT nextval('public.notifications_notification_id_seq'::regclass);


--
-- Name: payment_delete_requests request_id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.payment_delete_requests ALTER COLUMN request_id SET DEFAULT nextval('public.payment_delete_requests_request_id_seq'::regclass);


--
-- Name: payments payment_id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.payments ALTER COLUMN payment_id SET DEFAULT nextval('public.payments_payment_id_seq'::regclass);


--
-- Name: posts post_id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.posts ALTER COLUMN post_id SET DEFAULT nextval('public.posts_post_id_seq'::regclass);


--
-- Name: seat_application application_id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.seat_application ALTER COLUMN application_id SET DEFAULT nextval('public.seat_application_application_id_seq'::regclass);


--
-- Name: task_assignments assignment_id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.task_assignments ALTER COLUMN assignment_id SET DEFAULT nextval('public.task_assignments_assignment_id_seq'::regclass);


--
-- Name: tasks task_id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tasks ALTER COLUMN task_id SET DEFAULT nextval('public.tasks_task_id_seq'::regclass);


--
-- Data for Name: allocations; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.allocations (student_id, room_id, seat_number, start_date, end_date) FROM stdin;
\.


--
-- Data for Name: asks_for; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.asks_for (donation_id, student_id, staff_id) FROM stdin;
1	2305001	\N
\.


--
-- Data for Name: comments; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.comments (comment_id, post_id, user_id, parent_comment_id, content, is_deleted, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: complaint_upvotes; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.complaint_upvotes (complaint_id, student_id) FROM stdin;
\.


--
-- Data for Name: complaints; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.complaints (complaint_id, student_id, complaint_type, description, status, is_anonymous, is_public, date) FROM stdin;
2	2305001	Room	Furniture problem	Resolved	f	f	2026-04-04
1	2305001	Dining	Food bad	Dismissed	f	t	2026-04-04
\.


--
-- Data for Name: donations; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.donations (donation_id, status, description, start_date, end_date) FROM stdin;
1	Approved	I want milk	2026-04-04	2026-04-16
\.


--
-- Data for Name: events; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.events (event_id, name, description, date, hall_id, video_link, is_public) FROM stdin;
\.


--
-- Data for Name: fees; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.fees (payment_id, student_id) FROM stdin;
\.


--
-- Data for Name: generates; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.generates (payment_id, donation_id) FROM stdin;
\.


--
-- Data for Name: genres; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.genres (genre_id, name, created_at) FROM stdin;
1	Studying	2026-04-03 22:03:06.610117
2	Entertainment	2026-04-03 22:03:06.610117
3	Sports	2026-04-03 22:03:06.610117
4	Food	2026-04-03 22:03:06.610117
5	Announcements	2026-04-03 22:03:06.610117
6	LostAndFound	2026-04-03 22:03:06.610117
7	Rant	2026-04-03 22:03:06.610117
8	Other	2026-04-03 22:03:06.610117
\.


--
-- Data for Name: halls; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.halls (hall_id, name, provost_id) FROM stdin;
3	Titumir Hall	STF0000003
4	Sher-e-Bangla Hall	STF0000005
5	Sohrawardy Hall	STF0000007
6	Nazrul Islam Hall	STF0000009
7	Dr. M A Rashid Hall	STF0000011
8	Shahid Smriti Hall	STF0000013
2	Ahsanullah Hall	STF0000001
\.


--
-- Data for Name: notice; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.notice (notice_id, staff_id, title, description, pdf_file, created_at, is_public) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: payment_delete_requests; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.payment_delete_requests (request_id, payment_id, requested_by, requested_at, status, reviewed_by, reviewed_at) FROM stdin;
\.


--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.payments (payment_id, payment_type, amount, due_time, status, paid_at) FROM stdin;
\.


--
-- Data for Name: post_genres; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.post_genres (post_id, genre_id) FROM stdin;
\.


--
-- Data for Name: post_likes; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.post_likes (post_id, user_id, created_at) FROM stdin;
1	STF0000001	2026-04-04 03:04:56.011964
\.


--
-- Data for Name: posts; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.posts (post_id, user_id, hall_id, title, content, is_deleted, created_at, updated_at, is_public) FROM stdin;
1	2305001	2	I need a study partner	Looking for a study partner who can use $\\frac{-b+\\sqrt{b^2-4ac}}{2a}$. Anyone?	f	2026-04-04 02:54:31.769516	2026-04-04 02:55:12.884284	t
\.


--
-- Data for Name: rooms; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: salary; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.salary (payment_id, staff_id) FROM stdin;
\.


--
-- Data for Name: seat_application; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.seat_application (application_id, student_id, description, date, priority_value, status) FROM stdin;
\.


--
-- Data for Name: seats; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: staffs; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: student_hidden_events; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.student_hidden_events (student_id, event_id) FROM stdin;
\.


--
-- Data for Name: student_notice_states; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.student_notice_states (student_id, notice_id, is_read, is_hidden) FROM stdin;
\.


--
-- Data for Name: students; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: task_assignments; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.task_assignments (assignment_id, task_id, staff_id, assigned_at, seen_at) FROM stdin;
1	1	STF0000002	2026-04-04 05:38:27.106843	\N
\.


--
-- Data for Name: tasks; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.tasks (task_id, provost_id, title, description, priority, status, due_date, created_at, updated_at) FROM stdin;
1	STF0000001	Do My Laundry	Just Do It...	medium	pending	2026-04-16	2026-04-04 05:38:27.106843	\N
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: visitors; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.visitors (visitor_id, student_id, name, phone_number, relationship, entry_time, exit_time, hidden_by_student) FROM stdin;
\.


--
-- Name: comments_comment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.comments_comment_id_seq', 1, false);


--
-- Name: complaints_complaint_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.complaints_complaint_id_seq', 2, true);


--
-- Name: donations_donation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.donations_donation_id_seq', 1, true);


--
-- Name: events_event_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.events_event_id_seq', 1, true);


--
-- Name: genres_genre_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.genres_genre_id_seq', 8, true);


--
-- Name: halls_hall_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.halls_hall_id_seq', 15, true);


--
-- Name: notice_notice_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.notice_notice_id_seq', 1, false);


--
-- Name: notifications_notification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.notifications_notification_id_seq', 74, true);


--
-- Name: payment_delete_requests_request_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.payment_delete_requests_request_id_seq', 1, false);


--
-- Name: payments_payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.payments_payment_id_seq', 1, false);


--
-- Name: posts_post_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.posts_post_id_seq', 1, true);


--
-- Name: seat_application_application_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.seat_application_application_id_seq', 1, false);


--
-- Name: task_assignments_assignment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.task_assignments_assignment_id_seq', 1, true);


--
-- Name: tasks_task_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.tasks_task_id_seq', 1, true);


--
-- Name: allocations allocations_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.allocations
    ADD CONSTRAINT allocations_pkey PRIMARY KEY (student_id, room_id, seat_number);


--
-- Name: asks_for asks_for_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.asks_for
    ADD CONSTRAINT asks_for_pkey PRIMARY KEY (donation_id);


--
-- Name: comments comments_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_pkey PRIMARY KEY (comment_id);


--
-- Name: complaint_upvotes complaint_upvotes_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.complaint_upvotes
    ADD CONSTRAINT complaint_upvotes_pkey PRIMARY KEY (complaint_id, student_id);


--
-- Name: complaints complaints_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.complaints
    ADD CONSTRAINT complaints_pkey PRIMARY KEY (complaint_id);


--
-- Name: donations donations_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.donations
    ADD CONSTRAINT donations_pkey PRIMARY KEY (donation_id);


--
-- Name: events events_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_pkey PRIMARY KEY (event_id);


--
-- Name: fees fees_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.fees
    ADD CONSTRAINT fees_pkey PRIMARY KEY (payment_id);


--
-- Name: generates generates_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.generates
    ADD CONSTRAINT generates_pkey PRIMARY KEY (payment_id);


--
-- Name: genres genres_name_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.genres
    ADD CONSTRAINT genres_name_key UNIQUE (name);


--
-- Name: genres genres_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.genres
    ADD CONSTRAINT genres_pkey PRIMARY KEY (genre_id);


--
-- Name: halls halls_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.halls
    ADD CONSTRAINT halls_pkey PRIMARY KEY (hall_id);


--
-- Name: notice notice_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.notice
    ADD CONSTRAINT notice_pkey PRIMARY KEY (notice_id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (notification_id);


--
-- Name: payment_delete_requests payment_delete_requests_payment_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.payment_delete_requests
    ADD CONSTRAINT payment_delete_requests_payment_id_key UNIQUE (payment_id);


--
-- Name: payment_delete_requests payment_delete_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.payment_delete_requests
    ADD CONSTRAINT payment_delete_requests_pkey PRIMARY KEY (request_id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (payment_id);


--
-- Name: post_genres post_genres_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.post_genres
    ADD CONSTRAINT post_genres_pkey PRIMARY KEY (post_id, genre_id);


--
-- Name: post_likes post_likes_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.post_likes
    ADD CONSTRAINT post_likes_pkey PRIMARY KEY (post_id, user_id);


--
-- Name: posts posts_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT posts_pkey PRIMARY KEY (post_id);


--
-- Name: rooms rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_pkey PRIMARY KEY (room_id);


--
-- Name: salary salary_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.salary
    ADD CONSTRAINT salary_pkey PRIMARY KEY (payment_id);


--
-- Name: seat_application seat_application_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.seat_application
    ADD CONSTRAINT seat_application_pkey PRIMARY KEY (application_id);


--
-- Name: seats seats_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.seats
    ADD CONSTRAINT seats_pkey PRIMARY KEY (room_id, seat_number);


--
-- Name: staffs staffs_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.staffs
    ADD CONSTRAINT staffs_pkey PRIMARY KEY (staff_id);


--
-- Name: student_hidden_events student_hidden_events_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.student_hidden_events
    ADD CONSTRAINT student_hidden_events_pkey PRIMARY KEY (student_id, event_id);


--
-- Name: student_notice_states student_notice_states_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.student_notice_states
    ADD CONSTRAINT student_notice_states_pkey PRIMARY KEY (student_id, notice_id);


--
-- Name: students students_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_pkey PRIMARY KEY (student_id);


--
-- Name: task_assignments task_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.task_assignments
    ADD CONSTRAINT task_assignments_pkey PRIMARY KEY (assignment_id);


--
-- Name: task_assignments task_assignments_task_id_staff_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.task_assignments
    ADD CONSTRAINT task_assignments_task_id_staff_id_key UNIQUE (task_id, staff_id);


--
-- Name: tasks tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_pkey PRIMARY KEY (task_id);


--
-- Name: users users_email_address_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_address_key UNIQUE (email_address);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: visitors visitors_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.visitors
    ADD CONSTRAINT visitors_pkey PRIMARY KEY (visitor_id);


--
-- Name: allocations trg_seat_allocation; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER trg_seat_allocation AFTER INSERT OR UPDATE ON public.allocations FOR EACH ROW EXECUTE FUNCTION public.handle_seat_allocation();


--
-- Name: complaints trigger_complaint_update; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER trigger_complaint_update AFTER UPDATE ON public.complaints FOR EACH ROW EXECUTE FUNCTION public.notify_complaint_update();


--
-- Name: donations trigger_donation_approved; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER trigger_donation_approved AFTER UPDATE ON public.donations FOR EACH ROW EXECUTE FUNCTION public.notify_donation_approved();


--
-- Name: generates trigger_donation_pledge; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER trigger_donation_pledge AFTER INSERT ON public.generates FOR EACH ROW EXECUTE FUNCTION public.notify_donation_pledge();


--
-- Name: events trigger_new_event; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER trigger_new_event AFTER INSERT ON public.events FOR EACH ROW EXECUTE FUNCTION public.notify_new_event();


--
-- Name: notice trigger_new_notice; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER trigger_new_notice AFTER INSERT ON public.notice FOR EACH ROW EXECUTE FUNCTION public.notify_new_notice();


--
-- Name: fees trigger_new_payment; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER trigger_new_payment AFTER INSERT ON public.fees FOR EACH ROW EXECUTE FUNCTION public.notify_new_payment();


--
-- Name: payments trigger_overdue_payment; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER trigger_overdue_payment AFTER UPDATE ON public.payments FOR EACH ROW EXECUTE FUNCTION public.notify_overdue_payment();


--
-- Name: salary trigger_salary_posted; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER trigger_salary_posted AFTER INSERT ON public.salary FOR EACH ROW EXECUTE FUNCTION public.notify_salary_posted();


--
-- Name: seat_application trigger_seat_application_update; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER trigger_seat_application_update AFTER UPDATE ON public.seat_application FOR EACH ROW EXECUTE FUNCTION public.notify_seat_application_update();


--
-- Name: donations trigger_staff_donation_approved; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER trigger_staff_donation_approved AFTER UPDATE ON public.donations FOR EACH ROW EXECUTE FUNCTION public.notify_staff_donation_approved();


--
-- Name: events trigger_staff_new_event; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER trigger_staff_new_event AFTER INSERT ON public.events FOR EACH ROW EXECUTE FUNCTION public.notify_staff_new_event();


--
-- Name: notice trigger_staff_new_notice; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER trigger_staff_new_notice AFTER INSERT ON public.notice FOR EACH ROW EXECUTE FUNCTION public.notify_staff_new_notice();


--
-- Name: task_assignments trigger_task_assignment; Type: TRIGGER; Schema: public; Owner: neondb_owner
--

CREATE TRIGGER trigger_task_assignment AFTER INSERT ON public.task_assignments FOR EACH ROW EXECUTE FUNCTION public.notify_task_assignment();


--
-- Name: allocations allocations_room_id_seat_number_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.allocations
    ADD CONSTRAINT allocations_room_id_seat_number_fkey FOREIGN KEY (room_id, seat_number) REFERENCES public.seats(room_id, seat_number) ON DELETE CASCADE;


--
-- Name: allocations allocations_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.allocations
    ADD CONSTRAINT allocations_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(student_id) ON DELETE CASCADE;


--
-- Name: asks_for asks_for_donation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.asks_for
    ADD CONSTRAINT asks_for_donation_id_fkey FOREIGN KEY (donation_id) REFERENCES public.donations(donation_id) ON DELETE CASCADE;


--
-- Name: asks_for asks_for_staff_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.asks_for
    ADD CONSTRAINT asks_for_staff_id_fkey FOREIGN KEY (staff_id) REFERENCES public.staffs(staff_id) ON DELETE CASCADE;


--
-- Name: asks_for asks_for_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.asks_for
    ADD CONSTRAINT asks_for_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(student_id) ON DELETE CASCADE;


--
-- Name: comments comments_parent_comment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_parent_comment_id_fkey FOREIGN KEY (parent_comment_id) REFERENCES public.comments(comment_id) ON DELETE CASCADE;


--
-- Name: comments comments_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_post_id_fkey FOREIGN KEY (post_id) REFERENCES public.posts(post_id) ON DELETE CASCADE;


--
-- Name: comments comments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: complaint_upvotes complaint_upvotes_complaint_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.complaint_upvotes
    ADD CONSTRAINT complaint_upvotes_complaint_id_fkey FOREIGN KEY (complaint_id) REFERENCES public.complaints(complaint_id) ON DELETE CASCADE;


--
-- Name: complaint_upvotes complaint_upvotes_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.complaint_upvotes
    ADD CONSTRAINT complaint_upvotes_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(student_id) ON DELETE CASCADE;


--
-- Name: complaints complaints_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.complaints
    ADD CONSTRAINT complaints_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(student_id) ON DELETE CASCADE;


--
-- Name: events events_hall_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_hall_id_fkey FOREIGN KEY (hall_id) REFERENCES public.halls(hall_id) ON DELETE CASCADE;


--
-- Name: fees fees_payment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.fees
    ADD CONSTRAINT fees_payment_id_fkey FOREIGN KEY (payment_id) REFERENCES public.payments(payment_id) ON DELETE CASCADE;


--
-- Name: fees fees_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.fees
    ADD CONSTRAINT fees_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(student_id) ON DELETE CASCADE;


--
-- Name: halls fk_halls_provost; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.halls
    ADD CONSTRAINT fk_halls_provost FOREIGN KEY (provost_id) REFERENCES public.staffs(staff_id) ON DELETE SET NULL;


--
-- Name: generates generates_donation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.generates
    ADD CONSTRAINT generates_donation_id_fkey FOREIGN KEY (donation_id) REFERENCES public.donations(donation_id) ON DELETE CASCADE;


--
-- Name: generates generates_payment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.generates
    ADD CONSTRAINT generates_payment_id_fkey FOREIGN KEY (payment_id) REFERENCES public.payments(payment_id) ON DELETE CASCADE;


--
-- Name: notice notice_staff_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.notice
    ADD CONSTRAINT notice_staff_id_fkey FOREIGN KEY (staff_id) REFERENCES public.staffs(staff_id) ON DELETE SET NULL;


--
-- Name: notifications notifications_staff_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_staff_id_fkey FOREIGN KEY (staff_id) REFERENCES public.staffs(staff_id) ON DELETE CASCADE;


--
-- Name: notifications notifications_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(student_id) ON DELETE CASCADE;


--
-- Name: payment_delete_requests payment_delete_requests_payment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.payment_delete_requests
    ADD CONSTRAINT payment_delete_requests_payment_id_fkey FOREIGN KEY (payment_id) REFERENCES public.payments(payment_id) ON DELETE CASCADE;


--
-- Name: payment_delete_requests payment_delete_requests_requested_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.payment_delete_requests
    ADD CONSTRAINT payment_delete_requests_requested_by_fkey FOREIGN KEY (requested_by) REFERENCES public.staffs(staff_id) ON DELETE CASCADE;


--
-- Name: payment_delete_requests payment_delete_requests_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.payment_delete_requests
    ADD CONSTRAINT payment_delete_requests_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.staffs(staff_id) ON DELETE CASCADE;


--
-- Name: post_genres post_genres_genre_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.post_genres
    ADD CONSTRAINT post_genres_genre_id_fkey FOREIGN KEY (genre_id) REFERENCES public.genres(genre_id) ON DELETE CASCADE;


--
-- Name: post_genres post_genres_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.post_genres
    ADD CONSTRAINT post_genres_post_id_fkey FOREIGN KEY (post_id) REFERENCES public.posts(post_id) ON DELETE CASCADE;


--
-- Name: post_likes post_likes_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.post_likes
    ADD CONSTRAINT post_likes_post_id_fkey FOREIGN KEY (post_id) REFERENCES public.posts(post_id) ON DELETE CASCADE;


--
-- Name: post_likes post_likes_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.post_likes
    ADD CONSTRAINT post_likes_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: posts posts_hall_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT posts_hall_id_fkey FOREIGN KEY (hall_id) REFERENCES public.halls(hall_id) ON DELETE CASCADE;


--
-- Name: posts posts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT posts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: rooms rooms_hall_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_hall_id_fkey FOREIGN KEY (hall_id) REFERENCES public.halls(hall_id) ON DELETE CASCADE;


--
-- Name: salary salary_payment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.salary
    ADD CONSTRAINT salary_payment_id_fkey FOREIGN KEY (payment_id) REFERENCES public.payments(payment_id) ON DELETE CASCADE;


--
-- Name: salary salary_staff_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.salary
    ADD CONSTRAINT salary_staff_id_fkey FOREIGN KEY (staff_id) REFERENCES public.staffs(staff_id) ON DELETE CASCADE;


--
-- Name: seat_application seat_application_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.seat_application
    ADD CONSTRAINT seat_application_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(student_id) ON DELETE CASCADE;


--
-- Name: seats seats_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.seats
    ADD CONSTRAINT seats_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.rooms(room_id) ON DELETE CASCADE;


--
-- Name: staffs staffs_hall_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.staffs
    ADD CONSTRAINT staffs_hall_id_fkey FOREIGN KEY (hall_id) REFERENCES public.halls(hall_id) ON DELETE CASCADE;


--
-- Name: staffs staffs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.staffs
    ADD CONSTRAINT staffs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: student_hidden_events student_hidden_events_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.student_hidden_events
    ADD CONSTRAINT student_hidden_events_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events(event_id) ON DELETE CASCADE;


--
-- Name: student_hidden_events student_hidden_events_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.student_hidden_events
    ADD CONSTRAINT student_hidden_events_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(student_id) ON DELETE CASCADE;


--
-- Name: student_notice_states student_notice_states_notice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.student_notice_states
    ADD CONSTRAINT student_notice_states_notice_id_fkey FOREIGN KEY (notice_id) REFERENCES public.notice(notice_id) ON DELETE CASCADE;


--
-- Name: student_notice_states student_notice_states_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.student_notice_states
    ADD CONSTRAINT student_notice_states_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(student_id) ON DELETE CASCADE;


--
-- Name: students students_hall_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_hall_id_fkey FOREIGN KEY (hall_id) REFERENCES public.halls(hall_id) ON DELETE CASCADE;


--
-- Name: students students_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: task_assignments task_assignments_staff_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.task_assignments
    ADD CONSTRAINT task_assignments_staff_id_fkey FOREIGN KEY (staff_id) REFERENCES public.staffs(staff_id) ON DELETE CASCADE;


--
-- Name: task_assignments task_assignments_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.task_assignments
    ADD CONSTRAINT task_assignments_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.tasks(task_id) ON DELETE CASCADE;


--
-- Name: tasks tasks_provost_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_provost_id_fkey FOREIGN KEY (provost_id) REFERENCES public.staffs(staff_id) ON DELETE CASCADE;


--
-- Name: visitors visitors_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.visitors
    ADD CONSTRAINT visitors_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(student_id) ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: neondb_owner
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict pbkdnLIsIReTzb6Zoa4DZJNL1fS6P6ivk6cO1IrRPC0gKo6jWmkfRf91JEH2FBn

